<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mooncakemonster.orbitalcalendar"
    android:screenOrientation="portrait">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--For alarm-->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/calendar_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".start.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".event.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppThemeMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".authentication.LoginActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".authentication.RegisterActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_register"/>
        <activity
            android:name=".menudrawer.MenuDrawer"
            android:label="Fetch"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"/>
        <activity
            android:name=".accountsettings.SettingActivity"
            android:label="Account Settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMenu"/>
        <activity
            android:name=".picoftheday.CreatePicture"
            android:label="Add New Picture"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMenu"/>
        <activity
            android:name=".voteinvitation.VoteInvitation"
            android:label="Vote Event"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMenu"/>
        <activity
            android:name=".friendsfeed.FriendsFeedActivity"
            android:label="Friend"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMenu"/>
        <activity
            android:name=".voteinvitation.VoteInvitationSent"
            android:label="Vote Event History"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeMenu"/>
        <activity
            android:name=".votesend.VotingActivity"
            android:label="Vote Event"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppThemeMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".votereceive.VotingResultActivity"
            android:label="Voting Result"
            android:theme="@style/AppThemeMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".profilepicture.CropImage"
            android:label="Crop Image"
            android:theme="@style/AppThemeMenu"
            android:screenOrientation="portrait"/>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <!--For parsing data from .ics extension-->
        <activity android:name=".importexternals.ImportICSParser"/>
        <activity android:name=".importexternals.ImportFacebook"/>

        <receiver android:name="mooncakemonster.orbitalcalendar.alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="mooncakemonster.orbitalcalendar.alarm.ACTION" />
                <action android:name="mooncakemonster.orbitalcalendar.alarm.ACTION2" />
            </intent-filter>
        </receiver>

        <receiver

            android:name="mooncakemonster.orbitalcalendar.alarm.AlarmSetter"
            android:label="AlarmSetter">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <service
            android:name= "mooncakemonster.orbitalcalendar.notifications.NotificationReceiveService"
            android:label="NotificationReceiveService"
            android:enabled="true"/>

    </application>

</manifest>
